{% extends 'adwaitsol/base.html' %}
{% load static %}

{% block title %}
  <title>Contact Adwait Solutions - Get in Touch for Expert IT & Mechanical Solutions</title>
{% endblock %}

{% block meta %}
  <meta name="description" content="Get in touch with Adwait Solutions today! Whether you need IT or mechanical services, our team of experts is here to help. Request a consultation or ask us a question now." />
  <meta name="keywords" content="contact Adwait, IT services contact, mechanical services contact, consultation request, contact form, IT and mechanical support, get in touch with Adwait, service inquiries" />
{% endblock %}

{% block content %}

  <main class="main">


  </main>

  {% endblock %}
  